body {
  background-color: rgb(35, 245, 245);
  color: salmon;
  margin: 15px;
  font-family: 'Bree Serif', serif;
}

h2 {
  font-size: 25px;
  text-align: center;
}


table {
	border: 3px solid black;
  empty-cells: show;
  margin: 10px;
}

td {
	padding: 3px;
  border: 1px dotted black;
  background: lightcyan;
  text-align: right;
}

td:nth-child(1) {
  text-align: right;
}

th {
  background-color: rgb(165, 162, 158);
  border: 1px solid black;
  color: black;
  border-bottom: 2px, solid, black;
  padding: 3px;
}
.card {
  padding: 1.25em;
  display: table-cell;
}
.card.logo.figure {
  width: 100vw;
  background-color: white;
  border: solid;
}

.card header {
  font-size:70px;
  text-align: center;
}

.deck.locations{
  background: silver;
  width: 100vw;
}

.card h2 {
  font-size: 25px;
  text-align: center;
}

.card h3{
  font-size: 25px;
  font-weight: bold;
  color: peru;
}

.card.newStore img{
  width: 8em;
}
.card p {
  font-size: 16px;
 
  color: #BC4C34;
}

.card merch{
  display: table-cell;

}
#store-form {
  border: 3px solid silver;
  width: 80%;
  margin: 10px;
  color: black;
  
}
.card story{  
  font-size: 16px;
}

.card.fam img{
 width: 300px;
}


