body {
  background-color: aqua;
  color: salmon;
  font-family: 'Poiret One';
  margin: 15px;
}

h2 {
  font-size: 25px;
  text-align: center;
}


table {
	border: 3px solid black;
  empty-cells: show;
  margin: 10px;
}

td {
	padding: 3px;
  border: 1px dotted black;
  background: lightcyan;
}

th {
  background-color: rgb(165, 162, 158);
  border: 1px solid black;
  color: black;
  border-bottom: 2px, solid, black;
  padding: 3px;
}
.card {
  padding: 1.25em;
  display: table-cell;
}

.card header {
  font-size:70px;
  text-align: center;
}

.card.locations{
  background: silver;
  width: 100vw;
}

.card h2 {
  font-size: 25px;
  text-align: center;
}

.card h3{
  font-size: 25px;
  font-weight: bold;
  color: peru;
}

.card.newStore img{
  width: 8em;
}
.card p {
  font-size: 15px;
  font-family: 'Comfortaa', sans-serif;
  color: #BC4C34;
}


